-var section = 'footer'
footer.footer 
  .container
    h4.footer__title Контакты
    .footer__inner 
      .footer__contacts
        a(class=section+'__contacts-tel') +7 (846) 990 05 77
        a(class=section+'__contacts-email') design@q-play.pro
      address(class=section+'__address') Наш адрес:  г. Самара, ул. Конноармейская, 17 
      div(class=section+'__working') 
        div(class=section+'__working-hours') Режим работы: 9.00 - 18.00
        div(class=section+'__working-online') <span class="working__online-check"></span>сейчас работаем
      .footer__social-box
        ul.footer__social-list
          +socialLinks('footer')  