mixin socialLinks(section)
  for i in [{link:'#', name:'VK'},{link:'#',name:'Instagram'},{link:'#',name:'Be'}, {link:'#',name:'Facebook'}] 
    li(class=section+'__social-item')
      a(href=i.link,class=section+'__social-link-'+i.name)= i.name
//- for brif
mixin brifTop(title)
  h3.brif__page-title=title
  .brif__page-steps
    each i in [1,2,3,4]
      if(pageNumber===i) 
        span.brif__page-step.active
      else 
        span.brif__page-step 
  div(class='brif__page-number')=pageNumber+'из 4'

mixin brifInput(point,title,example)
  li(class='brif__'+pageNumber+'-'+point)
    h4(class='brif__'+pageNumber+'-'+point+'-title')=title 
    input(class='brif__'+pageNumber+'-'+point+'-input' placeholder=example name='brif-'+pageNumber+'-'+point required type='text' autocomplete='off')
mixin brifTextarea(point,title,example)
  li(class='brif__'+pageNumber+'-'+point)
    h4(class='brif__'+pageNumber+'-'+point+'-title')=title 
    textarea(class='brif__'+pageNumber+'-'+point+'-textarea' placeholder=example name='brif-'+pageNumber+'-'+point required maxlength="500")
mixin brifRadio(point,title,values)
  li(class='brif__'+pageNumber+'-'+point)
    h4(class='brif__'+pageNumber+'-'+point+'-title')=title
    ul(class='brif__'+pageNumber+'-'+point+'-items')
      each val,index  in values
        li(class='brif__'+pageNumber+'-'+point+'-item')
          if(point==='logo-style')
            input(class='brif__'+pageNumber+'-'+point+'-radio' type='radio' name='brif-'+pageNumber+'-'+point+'-'+index)
            label(class='brif__'+pageNumber+'-'+point+'-radio-label')=val.name
            div(class='brif__'+pageNumber+'-'+point+'-radio-wrap')
              for k in [1,2,3,4]
                img(class='brif__'+pageNumber+'-'+point+'-radio-img' src='images/brif/logo-style/brif-logo-style-img-'+val.url+'-'+k+'.jpg')
          else if(point==='music')
            input(class='brif__'+pageNumber+'-'+point+'-radio' type='radio' name='brif-'+pageNumber+'-'+point)
            label(class='brif__'+pageNumber+'-'+point+'-radio-label')=val.name
            img(class='brif__'+pageNumber+'-'+point+'-radio-img' src='images/brif/music/brif-music-img-'+val.url+'.jpg')
          else 
            input(class='brif__'+pageNumber+'-'+point+'-radio' type='radio' name='brif-'+pageNumber+'-'+point)
            label(class='brif__'+pageNumber+'-'+point+'-radio-label')=val
mixin brifCheckbox(point,title,values)
  li(class='brif__'+pageNumber+'-'+point)
    h4(class='brif__'+pageNumber+'-'+point+'-title')=title
    ul(class='brif__'+pageNumber+'-'+point+'-items')
      each val,index in values
        li(class='brif__'+pageNumber+'-'+point+'-item')
          input(class='brif__'+pageNumber+'-'+point+'-checkbox' type='checkbox' name='brif-'+pageNumber+'-'+point+'-checkbox'+index)
          label(class='brif__'+pageNumber+'-'+point+'-checkbox-label')=val
mixin logo()
 div(class=section+'__logo-menu-wrapper')
  a(class=section+'__logo')
    img(class=section+'__logo-img' src='images/common/logo.svg')
    button(type='button' class=section+'__close')
mixin modalInput(nameOf,typeOf,text)
  input(class=section+'__'+nameOf type=typeOf  name=nameOf placeholder=text required='required')
